<div class="container">
    <div class="content">
        <br>
        <h1>Componente Que se ve solo Autenticado</h1>
        <p>This is the content of the user that are logged In,
            Only users LoggedIn can see this component of the framework Angular.
            This is the content of the user that are logged In,
            Only users LoggedIn can see this component of the framework Angular.
            This is the content of the user that are logged In,
            Only users LoggedIn can see this component of the framework Angular.
        </p>
    </div>
    <app-projects></app-projects>
</div>